* {
  margin: 0;
  font-family: Arial;
  border: border-box;
}

.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
}

.nalogo {
  height: 50px;
  width: 100px;
}

.logo {
  height: 50px;
  width: 50px;
}

.border {
  border: 2px solid transparent;
}

.border:hover {
  border: 2px solid white;
}
